body
  padding-top 61px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #1b6d85

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

#login-dp
  min-width 250px
  padding 14px 14px 0
  overflow hidden
  background-color rgba(255,255,255,.8)
  .help-block
    font-size 12px
  .bottom
    background-color rgba(255,255,255,.8)
    border-top 1px solid #ddd
    clear both
    padding 14px
  .social-buttons
    margin 12px 0
    a
      width 49%
  .form-group
    margin-bottom 10px

.btn-fb
  color #fff
  background-color #3b5998
  &:hover
    color #fff
    background-color #496ebc

.btn-tw
  color #fff
  background-color #55acee
  &:hover
    color #fff
    background-color #59b5fa