.container
    .well
        form.form-horizontal(name="auctionLotForm")
            fieldset
                legend Lot Information
                .form-group
                    label.col-md-2.control-label(for="title") Title :{{auction.title}}
                .form-group(ng-show="newBidData.bidPlaced")
                    label.col-md-2.control-label(for="title") Your bid :{{bidValue}}
                .form-group
                    label.col-md-2.control-label(for="bidValue") Your bid value
                    .col-md-10
                        input.form-control(name="bid", type="text", placeholder="Bid value", ng-model="newBidData.bidValue", required)
                        .pull-right
                            button.btn.btn-primary(ng-click="placeBid()", ng-disabled="auctionLotForm.$invalid") Place a bid
                            | &nbsp;

