//
   Created by dec on 13.05.2016.

.container
    table.table.table-striped
        thead
            tr
                th First Name
                th Last Name
                th Email Address
        tbody
        tr(ng-repeat="user in users")
            td {{user.firstName}}
            td {{user.lastName}}
            td {{user.userName}}