//
   Created by anton.zasenka on 4/13/2016.

.navbar-right(ng-controller="prAccountController")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        ul.nav.navbar-nav.navbar-right
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    b Login
                    span.caret
                ul#login-dp.dropdown-menu
                    li
                        .row
                            .col-md-12
                                | Login via
                                .social-buttons
                                    a.btn.btn-fb(href='#')
                                        i.fa.fa-facebook
                                        |  Facebook
                                    a.btn.btn-tw(href='#')
                                        i.fa.fa-twitter
                                        |  Twitter
                                p or
                                form.form
                                    .form-group
                                        input.form-control(placeholder="Email", ng-model="username")
                                    .form-group
                                        input.form-control(placeholder="Password", ng-model="password", type="Password")
                                        .help-block.text-right
                                            a(href='') Forget the password ?
                                    button.btn.btn-primary(ng-click = "signIn(username, password)") Sign In
                            .bottom.text-center
                                | New here ?
                                a(href = "/signup")
                                    b Join Us
    .nav.navbar-nav.navbar-right(ng-show = "identity.isAuthenticated()")
            li.dropdown
                a.dropdown-toggle(href="", data-toggle="dropdown")
                    | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                    b.caret
                ul.dropdown-menu
                    li(ng-show = "identity.currentUser.isAdmin()")
                        a(href="/admin/users") User Admin
                    li
                        a(href="", ng-click = "signOut()") Sign Out